    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
    INTERPOLATE_USE1: {{INTERPOLATE_KEY1}},
    INTERPOLATE_USE2: {{INTERPOLATE_KEY1}}{{INTERPOLATE_KEY2}}-{{INTERPOLATE_KEY1}},
    WEBLOGIC.JOBS_BUBBAGUMP: [ 3, 7, 9 ],
    INTERPOLATE_KEY1: Humpty Dumpty,
    INTERPOLATE_KEY2: Sitting On A Wall
