[atg_store]
instances = "{{ATG_STORE.INSTANCES}}"
classpath = "{{ATG_STORE.CLASSPATH}}"
arguments = "{{ATG_STORE.ARGUMENTS}}"
JavaVendor = "{{ATG_STORE.JAVA_VENDOR}}",
JavaHome = "{{ATG_STORE.JAVA_HOME}}",
ChannelNames": "{{ATG_STORE.CHANNEL_NAMES}}",
ClientCertProxyEnabled": "{{ATG_STORE.CLIENT_CERT_PROXY_ENABLED}}",
StagingMode_Server": "{{ATG_STORE.STAGING_MODE}}"

[atg_tbs]
instances = "{{ATG_TBS.INSTANCES}}"
classpath = "{{ATG_TBS.CLASSPATH}}"
arguments = "{{ATG_TBS.ARGUMENTS}}"
JavaVendor = "{{ATG_TBS.JAVA_VENDOR}}",
JavaHome = "{{ATG_TBS.JAVA_HOME}}",
ChannelNames": "{{ATG_TBS.CHANNEL_NAMES}}",
ClientCertProxyEnabled": "{{ATG_TBS.CLIENT_CERT_PROXY_ENABLED}}",
StagingMode_Server": "{{ATG_TBS.STAGING_MODE}}"

[atg_canary_store]
instances = "{{ATG_CANARY_STORE.INSTANCES}}"
classpath = "{{ATG_CANARY_STORE.CLASSPATH}}"
arguments = "{{ATG_CANARY_STORE.ARGUMENTS}}"
JavaVendor = "{{ATG_CANARY_STORE.JAVA_VENDOR}}",
JavaHome = "{{ATG_CANARY_STORE.JAVA_HOME}}",
ChannelNames": "{{ATG_CANARY_STORE.CHANNEL_NAMES}}",
ClientCertProxyEnabled": "{{ATG_CANARY_STORE.CLIENT_CERT_PROXY_ENABLED}}",
StagingMode_Server": "{{ATG_CANARY_STORE.STAGING_MODE}}"
